
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  margin: 20px;
  cursor: pointer;
}

.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  padding: 16px;
  text-align: center;
  margin: 20px;
}

.deletePost {
  float: right;
  margin-top: -75px;
}

.showComment {
  float: left;
  text-align:center;
}